.col-md-2 li{
    list-style: none;
    color:  rgb(218, 235, 235);
}
.col-md-4 li{
    list-style: none;
    color:  rgb(218, 235, 235);
}
.col-md-3 li{
    list-style: none;
    color: rgb(218, 235, 235);
}
.col-md-6{
    color: rgb(218, 235, 235);
}
.v{
    background-color: rgb(84, 83, 83);  
}
